.header-section {
  background-color: $background-color;
  height: 70vh;
  padding-top: 30vh;
  text-align: center;

  @include respond(phone) {
    padding-top: 20vh;
  }
}

.header {
  &__subtitle {
    font-size: 3rem;
    font-family: $font-basic;
    color: $color-grey-dark;
    letter-spacing: 2px;
  }

  &__title {
    font-size: 5.5rem;
    font-family: $font-title;
    color: $color-grey-dark;
    letter-spacing: 3.5px;
  }
}

.header-icon {
  &-div {
    margin-top: 5rem;
  }

  font-size: 2rem;
  color: $color-primary;
  margin: 0 1rem;

  &:hover {
    color: $color-secondary;
    transform: translateY(0.25rem);
  }
}

.highlight {
  transition: all 0.3s ease-out;
  padding: 0 0.5rem;
}

.highlight:hover {
  background-color: rgba($color-secondary, 0.25);
}
